aiobotocore==2.12.3
aiohttp==3.8.1
aioitertools==0.7.1
aiosignal==1.2.0
alabaster==0.7.16
altair==5.0.1
anaconda-anon-usage==0.4.4
anaconda-client==1.12.3
anaconda-navigator==2.1.4
anaconda-project==0.10.2
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
astroid==2.14.2
astropy==5.3.4
asttokens==2.0.5
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==23.1.0
Automat==20.2.0
autopep8==2.0.4
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.12.3
bertviz==1.4.0
binaryornot==0.4.4
bitarray==2.4.1
bkcharts==0.2
black==19.10b0
bleach==4.1.0
blinker==1.6.2
blis==0.7.9
bokeh==2.4.2
boto3==1.21.32
botocore==1.24.46
Bottleneck==1.3.7
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.2
catalogue==2.0.8
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==3.0.0
clyent==1.2.2
colorama==0.4.6
colorcet==3.1.0
colormath==3.0.0
comm==0.2.1
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-content-trust==0.2.0
conda-pack==0.7.1
conda-package-handling==1.8.1
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
confection==0.0.4
constantly==23.10.4
contourpy==1.2.0
cookiecutter==1.7.3
coverage==7.2.7
cryptography==43.0.0
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.11
cytoolz==0.12.2
daal4py==2021.5.0
dask==2023.4.1
datasets==3.6.0
datashader==0.13.0
datashape==0.5.4
de-core-news-md==3.5.0
de-dep-news-trf==3.5.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.8
distributed==2022.2.1
docstring-to-markdown==0.11
docutils==0.17.1
emoji==2.14.1
en-core-web-sm==3.5.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.13.1
flake8==7.0.0
Flask==1.1.2
fontawesomefree==6.4.0
fonttools==4.51.0
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
gensim==4.1.2
gitdb==4.0.7
GitPython==3.1.43
glob2==0.7
gmpy2==2.1.2
google-api-core==1.25.1
google-auth==1.33.0
google-cloud-core==1.7.1
google-cloud-storage==1.31.0
google-crc32c==1.5.0
google-resumable-media==1.3.1
googleapis-common-protos==1.63.2
greenlet==3.0.1
grpcio==1.62.2
h5py==3.11.0
HeapDict==1.0.1
holoviews==1.14.8
huggingface-hub==0.25.2
hvplot==0.7.3
hyperlink==21.0.0
idna==3.7
imagecodecs==2023.1.23
imageio==2.33.1
imagesize==1.4.1
imbalanced-learn==0.12.3
importlib-metadata==7.0.1
importlib_resources==6.4.0
incremental==22.10.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.5
intervaltree==3.1.0
ipykernel==6.9.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.13.2
itemadapter==0.3.0
itemloaders==1.1.0
itsdangerous==2.2.0
jaraco.classes==3.2.1
jdcal==1.4.1
jedi==0.19.1
jellyfish==1.0.1
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.6
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter_client==7.4.9
jupyter-console==6.4.0
jupyter_core==5.7.2
jupyter-server==1.13.5
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==3.0.10
keyring==24.3.1
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.4
lazy-object-proxy==1.10.0
lckr_jupyterlab_variableinspector==3.1.0
libarchive-c==5.1
llvmlite==0.43.0
lmdb==1.4.1
locket==1.0.0
lxml==5.2.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.0.1
matplotlib==3.9.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.0
menuinst==1.4.18
mistune==0.8.4
mkl_fft==1.3.10
mkl_random==1.2.7
mkl-service==2.4.0
mock==4.0.3
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.9
mypy==1.11.2
mypy-extensions==1.0.0
navigator-updater==0.2.1
nbclassic==1.1.0
nbclient==0.5.13
nbconvert==5.5.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.7
nose==1.3.7
notebook==6.5.6
notebook_shim==0.2.4
numba==0.60.0
numexpr==2.8.7
numpy==1.26.4
numpydoc==1.2
olefile==0.46
openpyxl==3.1.5
packaging==24.1
pandas==1.4.2
pandocfilters==1.5.0
panel==0.13.0
param==1.13.0
paramiko==2.8.1
parsel==1.8.1
parso==0.8.3
partd==1.4.1
pathspec==0.10.3
pathy==0.10.1
patsy==0.5.6
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
pkginfo==1.10.0
platformdirs==3.10.0
plotly==5.17.0
pltviz==1.0.1
pluggy==1.0.0
ply==3.11
poli-sci-kit==1.0.2
poyo==0.5.0
preshed==3.0.8
prometheus-client==0.14.1
prompt-toolkit==3.0.43
Protego==0.1.16
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.11.1
pycosat==0.6.6
pycparser==2.21
pyct==0.5.0
pycurl==7.45.3
pydantic==1.10.9
pydeck==0.8.0
PyDispatcher==2.0.5
pydocstyle==6.3.0
pyerfa==2.0.1.4
pyflakes==3.2.0
Pygments==2.15.1
PyHamcrest==2.0.2
PyJWT==2.8.0
pylint==2.9.6
pylint-venv==3.0.3
pyls-spyder==0.4.0
PyNaCl==1.5.0
pyodbc==5.1.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
pyreadline==2.1
pyrsistent==0.18.0
PySocks==1.7.1
pytest==7.1.1
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.2.4
python-slugify==5.0.2
python-snappy==0.6.1
pytoolconfig==1.2.6
pytz==2024.1
pyviz-comms==2.0.2
pywaffle==1.1.0
pywavelets==1.5.0
pywin32==305.1
pywin32-ctypes==0.2.2
pywinpty==1.1.6
PyYAML==6.0.2
pyzmq==24.0.1
QDarkStyle==3.2.3
qstylizer==0.2.2
QtAwesome==1.3.1
qtconsole==5.3.0
QtPy==2.4.1
queuelib==1.6.2
referencing==0.30.2
regex==2024.9.11
requests==2.32.3
requests-file==1.5.1
requests-toolbelt==1.0.0
rich==13.7.1
rope==1.12.0
rpds-py==0.10.6
rpy2==3.5.17
rsa==4.7.2
Rtree==1.0.1
ruamel-yaml-conda==0.15.100
s3fs==2024.6.1
s3transfer==0.5.0
sacremoses==0.1.1
safetensors==0.4.1
scikit-image==0.24.0
scikit-learn==1.2.2
scikit-learn-intelex==2021.20220215.102710
scipy==1.13.1
Scrapy==2.6.1
seaborn==0.13.2
Send2Trash==1.8.2
sentencepiece==0.2.0
service-identity==18.1.0
setuptools==75.1.0
sip==6.7.12
six==1.16.0
smart-open==5.2.1
smmap==4.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.5.3
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.2.5
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.10
spyder==5.1.5
spyder-kernels==2.1.3
SQLAlchemy==2.0.34
srsly==2.4.6
stack-data==0.2.0
stanza==1.10.1
statsmodels==0.14.2
streamlit==1.38.0
sympy==1.13.2
tables==3.9.2
tabulate==0.9.0
TBB==0.2
tblib==1.7.0
tenacity==8.2.3
terminado==0.17.1
testpath==0.6.0
text-unidecode==1.3
textdistance==4.2.1
thinc==8.1.10
threadpoolctl==3.5.0
three-merge==0.1.1
tifffile==2023.4.12
tinycss==0.4
tinycss2==1.2.1
tldextract==5.1.2
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
toolz==0.12.0
torch==2.1.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.30.2
Twisted==22.2.0
twisted-iocpsupport==1.0.2
typed-ast==1.4.3
typer==0.7.0
typing_extensions==4.11.0
tzdata==2025.1
tzlocal==5.3
ujson==5.10.0
unicodedata2==15.1.0
Unidecode==1.3.8
urllib3==1.26.19
w3lib==2.1.2
wasabi==1.1.2
watchdog==4.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.0.3
whatthepatch==1.0.2
wheel==0.44.0
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.14.1
xarray==0.20.1
xlrd==2.0.1
XlsxWriter==3.0.3
xlwings==0.32.1
xxhash==3.5.0
yapf==0.40.2
yarl==1.11.0
zict==3.0.0
zipp==3.17.0
zope.interface==5.4.0
